/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}


html,body{
margin:0;
padding:0;
font-family: 'Open Sans', sans-serif;
background: #fff url(../images/bg.jpg) center top no-repeat;
background-size: cover;
height: 100%;
width: 100%;
}


#wrapper{
max-width: 100%;
width: 940px;
margin: 0 auto;
}

.main{
max-width: 100%;
width: 940px;
float: left;
}

.header, .content, .bottom, .sep2{
width: 100%;
float: left;
}



.header{
	margin-top: 160px;
	margin-bottom: 40px;
}


h1{
font-family: 'Open Sans', sans-serif;
color: #fff;
text-align: center;
font-size: 50px;
font-weight: 300;
margin: 0 0 10px 0;
}


h1 strong{
font-size: 38px;
font-weight: 700;
}

h2{
	text-align: center;
	font-weight: 300;
	font-size: 20px;
		color: #ffffff;

}

h2 strong{
	font-weight: 700;
	font-style: italic;
}


.information{
width: 480px;
padding-top: 35px;
margin: 0 auto;
}

h3{
font-size: 28px;
font-weight: 600;
color: #ffffff;
}

.information p{
font-size: 16px;
color: #ffffff;
display: block;
}

.form{
position: relative;
width: 478px;
margin-top: 20px;
}

.field{
background: url(../images/field.png) repeat;
width: 448px;
-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;
border: none;
font-style: italic;
font-family: 'Lato', sans-serif;
font-size: 16px;
color: #ffffff;
padding: 15px;
margin-bottom: 15px;
outline: none;
}
	.field:focus {
	border: 1px solid #ffffff;
	padding: 14px;
	}
@media only screen and (max-width: 480px)  {
	.information{
	width: 100%;
	}
	.form{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	}

	.field {
	width: 90%;
	}
}

.submit{
position: absolute;
right: 15px;
top: 13px;
padding: 3px 10px;
-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;
background: #ffffff;
border: none;
font-family: 'Lato', sans-serif;
font-size: 14px;
font-weight: bold;
cursor: pointer;
}


.submit:hover{
background: #eeeeee;
}

.error {
  color: #FE7070;
  font-weight: 700;
  font-size: 25px;
}

a {
  color: #92BCF2;
  font-weight: 700;
}

a:visited,
a:hover {
  color: #7EB6FF;
}

.g-recaptcha, .g-recaptcha > div {
  margin: auto;
}



body{
	font-family: 'Roboto', sans-serif;
}
header{
	background: url(../img/alpha6_.jpg) no-repeat center center transparent;
	background-size: cover;
	position: relative;
	min-height: 500px;
}

.header-content{
	padding: 50px;
	text-align: center;
}
.header-content img{
	margin-bottom: 50px;
}
.header-content h1{
	color: #3a0479;
	font-weight: 300;
	padding: 0 50px;

}
.header-content h2{
	color: #515151;
	font-weight: 300;
	margin-bottom: 30px;
}

.header-content form{
		margin-bottom: 30px;
}

.header-content form input{
	float: left;
	width: auto;
	border-top :0px;
	border-left :0px;
	border-right :0px;
	border-bottom :1px solid #ddd;
	border-radius: 0;
	box-shadow: none;

}
.header-content form {
	background: #fff;
	display: inline-block;
	clear: both;
	float: none;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	padding: 20px;
}
.header-content form input[type='email']{
	min-width: 300px;
	
}
.header-content form input[type="submit"]{
	color: #3a0479;
	font-size: 16px;
	font-weight: 300;
	background: url(../img/icon.png) no-repeat center left;
	display: block;
	padding-left: 20px;
}
.header-content p{
	color: #515151;
	font-size: 14px;
	font-weight: 400;
	padding: 0 50px;
	
}

#middle h1{
	font-weight: 300;
	color: #515151;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#middle h1 > span{
	display: block;
	font-weight: 300;
	color: #c1c1c1;
	margin-top: 30px;
	font-size: 14px;
	background: url(../img/Loudspeaker.png) no-repeat center left transparent;
	    line-height: 25px;
    background-position-x: 20px;
}
#middle{
	padding-top: 50px;
	padding-bottom: 50px;
}
.testimonials{
	overflow: hidden;
	margin-top: 100px;
	margin-bottom: 50px;
}
.testimonial > p{
	text-align: left;
	font-size: 25px;
	font-weight: 400;
	color: #515151;
}
.testimonial > div{
	overflow: hidden;
	margin-top: 30px;
}
.testimonial > div > img{
	float: left;
}
.testimonial > div > p{
	padding-left: 55px;
}
.testimonial > div > p > span{
	display: block;
}
.testimonial > div > p > span:first-child{
	color: #c1c1c1;
	font-weight: 300;
	font-size: 14px;
}
.testimonial > div > p > span:nth-child(2){
	color: #000;
	font-weight: 700;
	font-size: 15px;
}

#last{
	padding: 50px 0;
	background:url(../img/Rectangle_36.png) no-repeat center center transparent;
	background-size: center; 
}
#last h1{
	color: #fff;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
#last h3{
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
}
#last ul{
	padding: 0;
	margin-top: 20px;
}
#last ul > li{
	list-style: none;
}

#last ul > li > a{
	color: #fff;
	line-height: 30px;
}
.links{
	overflow: hidden;
	margin-top: 100px;
}

footer{
	margin-top: 30px;
	margin-bottom: 30px;
}
footer p{
	color: #c1c1c1;
}
@media(min-height: 767px){
	.header-content{
		max-width: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
}